body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0d44f8;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

#content {
    margin: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #5f5f5f;
}

th, td {
    padding: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Add this CSS to your existing styles.css or create a new file if needed */

.logo img {
    height: 150px; /* Adjust the height as per your logo's size */
    margin-right: 10px; /* Add some space between the logo and text */
    border-radius: 0%; /* This will round the corners */
}
.logo {
    position: absolute;
    top: 10px;
    left: 20px;
}
